name: Test

on:
  push:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: ${{ fromJSON(vars.DEFAULT_JOB_TIMEOUT_MINUTES) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Checkout code
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Run unit tests
        run: go test -v ./...
